* {
  margin: 0;
  padding: 0;
}
div.content{
  display: flex;
  margin: auto;
  justify-content: space-around;
}
div.camera{
  width: 520px;
  height: 900px;
  background-color: red;
  padding: 10px;
}
div.output{
  position: relative;
  height: 375px;
  width: 500px;
  border: 5px;
  border-style: solid;
  background-color: rgb(170, 170, 170);
  overflow: hidden;
}

div.gallery {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: lightgrey;
}

div.image{
  background-color: grey;
  border: 1px solid blue;
  margin: 5px;
  width: 250px;
  height: auto;
}
div.image img{
  width: 100%;
  padding: 2px auto;
}
#video{
  border: 5px;
  border-style: solid;
}
#filter{
  position: absolute;
}

/* pagination */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}


/*LIKE*/

button {
  width: 20px;
  height: 20px;
}

.like true{
  background-color: #FFF;
}

.like false{
  background-color: red;

}
